@font-face {
    font-family: "PT Sans";
    font-style: normal;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    background-color: #FFFFFF;
    color: #000000;
}

.main-header {
    background-color: #FFFFFF;
    color: #000000;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    background-color: #FFFFFF;
    text-align: center;
}

.button {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.navigation-button {
    background-color: #756157;
}

.main-index {
    color: #000000;
    background-color: #FFFFFF;
}

.background {
    color: #000000;
    background-color: #FFFFFF;
    background-image: url("../images/Group 36.jpg");
    width: 1200px;
    height: 485px;
}

.description {
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
}

.description-header {
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
}

.title {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.title-description {
    color: #000000;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.advantages-list {
    background-color: #82B3D3;
    color: #000000;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
}

.advantages-title {
    background-color: #82B3D3;
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-text{
    background-color: #82B3D3;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
}

.light-text {
    color: #FFFFFF;
    background-color: #82B3D3;
}

.dark-invisible {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000;
}

.light-invisible{
    background: rgba(131, 179, 211, 0.12);
    color: #000000;
}

.service {
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
}

.service-list {
    background: rgba(131, 179, 211, 0.12);
}

.service-title {
    color: #000000;
    font-size: 24px;
    font-weight: 700px;
    line-height: 28px;
    text-transform: uppercase;
}

.service-item-no-background {
    color: #000000;
    background-color: #FFFFFF;
}

.service-text {
    color: #333333;
    font-size: 18px;
    font-weight: 400px;
    line-height: 21px;
}

.hotel-search {
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
}

.search-button {
    background-color: #756157;
}

.mailing-list {
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    background-image: url("../images/Subscribe.jpg");
    width: 1200px;
    height: 414.86px;
}

.title-footer {
    color: #FFFFFF;
}

.description-footer {
    color: #FFFFFF;
}

.appointment-button {
    background-color: #82B3D3;
}

.footer-socials {
    background-color: #FFFFFF;
    color: #000000;
}
