@font-face {
    font-family: "PT Sans";
    font-style: normal;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    background-color: #FFF;
    color: #000;
}

.main-header {
    background-color: #FFFF;
    color: #000;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    background-color: #FFF;
    text-align: center;
}

.button {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
}

.brown-button {
    background-color: #756157;
}

.main-index {
    color: #000;
    background-color: #FFF;
}

.background {
    color: #000;
    background-color: #FFF;
    background-image: url("../images/index-background.jpg");
    width: 1200px;
    height: 485px;
}

.description {
    color: #000;
    background-color: #FFF;
    text-align: center;
}

.description-header {
    color: #000;
    background-color: #FFF;
    text-align: center;
}

.title {
    color: #000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.title-description {
    color: #000;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.advantages-list {
    text-align: center;
}

.advantages-item-top {
    background-color: #82B3D3;
    color: #000;
    text-align: center;
}

.advantages-item-bottom {
    background-color: #82B3D3;
    color: #000;
    text-align: center;
}

.advantages-item {
    background-color: #FFF;
    color: #000;
    text-align: center;
}

.advantages-title {
    color: #000;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-text{
    color: #000;
    font-size: 18px;
    line-height: 21px;
}

.light-text {
    color: #FFF;
}

.dark-invisible {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000;
}

.light-invisible{
    background: rgba(131, 179, 211, 0.12);
    color: #000;
}

.service {
    color: #000;
    background-color: #FFF;
    text-align: center;
}

.service-list {
    background: rgba(131, 179, 211, 0.12);
}

.service-title {
    color: #000;
    font-size: 24px;
    font-weight: 700px;
    line-height: 28px;
    text-transform: uppercase;
}

.service-item-no-background {
    color: #000;
    background-color: #FFF;
}

.service-text {
    color: #333;
    font-size: 18px;
    font-weight: 400px;
    line-height: 21px;
}

.hotel-search {
    color: #000;
    background-color: #FFF;
    text-align: center;
}

.mailing-list {
    color: #000;
    text-align: center;
    width: 1200px;
    height: 414.86px;
}

.index-footer{
    background-image: url("../images/Subscribe.jpg");
    background-color: #2f404c;
    width: 1200px;
    height: 414.86px;
}

.title-footer {
    color: #FFF;
}

.description-footer {
    color: #FFF;
}

.blue-button {
    background-color: #82B3D3;
}

.footer-socials {
    background-color: #FFF;
    color: #000;
}

.contacts-phone {
    color: #000;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

/* Catalog page */

.inner-catalog-header {
    background-image: url("../images/filter.jpg");
    background-repeat: no-repeat;
    background-color: #2f404c;
    color: #FFF;
}

.inner-catalog-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
}

.breadcrumbs-link {
    color: #FFF;
    font-size: 16px;
    line-height: 21px;
}

.catalog-filter {
    border: none;
}

.catalog-filter-title {
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.catalog-filter-item {
    color: #FFF;
    font-size: 18px;
    line-height: 23px;
}

.reset-buton {
    background-color: transparent;
}

.catalog-result {
    color: #000;
    background-color: #FFF;
}

.catalog-result-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.select-control {
    color: #333;
    font-size: 18px;
    line-height: 21px;
}

.product-card-title {
    color: #000;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.product-card-link {
    text-decoration: none;
}

.product-card-type, .product-card-price {
    color: #333;
    font-size: 18px;
    line-height: 21px;
}

.product-card-button-more {
    color: #FFF;
    background-color: #756157;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
}

.product-card-button-like {
    background-color: #82B3D3;
}

.product-card-rank {
    text-align: center;
    color: #333;
    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 4px;
}

.pagination-item {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #82B3D3;
}

.pagination-link {
    text-decoration: none;
    color: #FFF;
}

.current-link{
    text-decoration: none;
    color: #000;
}

.pagination-item-current{
    background-color: #F2F2F2;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    text-align: center;
}

.pagination-item-else {
    background-color: transparent;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    border-radius: 4px;
    width: 60px;
    height: 60px;
}

.catalog-footer {
    color: #000;
    background-color: #FFF;
}

.title-footer-catalog {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700px;
    text-transform: uppercase;
}

.footer-text {
    color: #333;
}

.subscribe-button {
    color: #FFF;
    background-color: #82B3D3;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    font-weight: 700;
}

.email {
    font-size: 18px;
    line-height: 24px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 4px;
}
