@font-face {
    font-family: "PT Sans";
    font-style: normal;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    background-color: #F2F2F2;
    color: #000;
}

.button {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    height: 36px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* index */

.main-container {
    flex-grow: 1;
    width: 1200px;
    margin: 0 auto;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

/* header */

.main-header {
    background-color: #FFFF;
    color: #000;
    width: 1200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 892px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 540px;
}

.navigation-icons {
    margin-left: auto;
    max-width: 270px;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    background-color: #FFF;
    text-align: center;
    padding: 20px 16px;
    display: block;
}

.icons-link {
    padding: 22px 12px;
}

.icons-button {
    padding: 14px 0 14px 20px;
}

.logo {
    display: block;
    height: 64px;
}

.logo-image {
    margin-right: 30px;
    position: relative;
}

/* main */

.background-text {
    display: block;
    margin: 0 auto;
    padding: 51px 371px 82px;
}

.brown-button {
    background-color: #756157;
}

.main-index {
    color: #000;
    background-color: #FFF;
}

.background {
    color: #000;
    background-image: url("../images/index-background.jpg");
    background-color: #82B3D3;
    background-size: 100% 485px;
    background-repeat: no-repeat;
    height: 485px;
    margin-bottom: 69px;
}

.description {
    color: #000;
    background-color: #FFF;
    text-align: center;
}

.description-header {
    color: #000;
    background-color: #FFF;
    text-align: center;
}

.description-header-title {
    width: 620px;
    margin: 0 290px 25px;
}

.description-header-title-description {
    width: 651px;
    margin: 0 274.5px 90px;
}

.title {
    margin: 0;
    color: #000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.title-description {
    margin: 0;
    color: #000;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.advantages-list {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    list-style-type: none;
}

.advantages-item-top, .advantages-item-bottom  {
    background-color: #82B3D3;
    color: #000;
    text-align: center;
    width: 100%;
    display: flex;
}

.advantages-item {
    background-color: #FFF;
    color: #000;
    text-align: center;
    width: 400px;
    height: 400px;
}

.advantages-item-text {
    flex-direction: column;
    padding: 102px 84px;
}

.advantages-title {
    margin: 0;
    color: #000;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 62px;
}

.advantages-text{
    margin: 0;
    color: #000;
    font-size: 18px;
    line-height: 21px;
}

.light-text {
    color: #FFF;
}

.dark-invisible {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000;
}

.light-invisible{
    background: rgba(131, 179, 211, 0.12);
    color: #000;
}

.service {
    color: #000;
    background-color: #FFF;
    text-align: center;
}

.service-header-description {
    width: 490px;
    margin: 0 355px 64px;
}

.service-header-title {
    width: 505px;
    margin: 0 347.5px 20px;
}

.service-list {
    background: rgba(131, 179, 211, 0.12);
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 96px;
    list-style-type: none;
}

.service-title {
    margin: 0;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.service-item-no-background {
    color: #000;
    background-color: #FFF;
    width: 400px;
}

.service-text {
    margin: 0;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.service-image {
    margin-bottom: 30px;
}

.service-item {
    width: 400px;
    height: 385px;
}

.service-item-content {
    margin: 81px 85px;
}

.hotel-search {
    color: #000;
    background-color: #FFF;
    text-align: center;
    width: 592px;
    margin:  0 auto;
    margin-bottom: 96px;
}

.hotel-search-title {
    margin-bottom: 20px;
}

.title-description {
    margin-bottom: 54px;
}

/* footer */

.mailing-list {
    color: #000;
    text-align: center;
    height: 414.86px;
    width: 1200px;
    margin: 0 auto;
}

.mailing-list-content {
    width: 684px;
    padding: 96px 258px 104px;
}

.index-footer{
    background-image: url("../images/Subscribe.jpg");
    background-color: #2f404c;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.title-footer {
    color: #FFF;
    margin-bottom: 20px;
}

.mailing-list-description {
    width: 475px;
    margin: 0 auto;
    margin-bottom: 54px;
}

.description-footer {
    color: #FFF;
}

.appointment-form {
    width: 684px;
}

.blue-button {
    background-color: #82B3D3;
}

.footer {
    width: 1200px;
    margin: 0 auto;
    background-color: #FFF;
    color: #000;
}

.footer-socials {
    background-color: #FFF;
    color: #000;
    display: flex;
    width: 1060px;
    margin: 0 auto;
    padding: 40px 70px 30px;
}

.footer-socials-list {
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 41.5px;
    width: 142px;
    list-style-type: none;
}

.footer-socials-item {
    width: 48px;
}

.number {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    width: 720px;
    margin-right: 41.5px;
}

.contacts-phone {
    text-decoration: none;
    color: #000;
}

.htmlacademy-link {
    width: 115px;
}

/* Catalog page */

.inner-catalog-header {
    background-image: url("../images/filter.jpg");
    background-repeat: no-repeat;
    background-color: #2f404c;
    color: #FFF;
}

.inner-filter {
    width: 1060px;
    margin: 0 auto;
}

.inner-catalog-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
}

.breadcrumbs-link {
    color: #FFF;
    font-size: 16px;
    line-height: 21px;
}

.catalog-filter {
    border: none;
    display: flex;
}

.catalog-filter-title {
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.catalog-filter-item {
    color: #FFF;
    font-size: 18px;
    line-height: 23px;
}

.reset-buton {
    background-color: transparent;
}

.catalog-result {
    color: #000;
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
}

.catalog-result-top {
    display: flex;
    width: 1060px;
}

.catalog-result-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.select-control {
    color: #333;
    font-size: 18px;
    line-height: 21px;
}

.product-card {
    width: 340px;
}

.product-card-title {
    color: #000;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.product-card-link {
    text-decoration: none;
}

.product-card-type, .product-card-price {
    color: #333;
    font-size: 18px;
    line-height: 21px;
}

.product-card-button-more {
    color: #FFF;
    background-color: #756157;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
}

.product-card-button-like {
    background-color: #82B3D3;
}

.product-card-rank {
    text-align: center;
    color: #333;
    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 4px;
}

.pagination {
    width: 1060px;
    display: flex;
    padding: 0;
    margin: 0;
}

.pagination-item {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    margin-right: 8px;
    text-align: center;
    background-color: #82B3D3;
}

.pagination-link {
    text-decoration: none;
    color: #FFF;
}

.current-link{
    text-decoration: none;
    color: #000;
}

.pagination-current{
    background-color: #F2F2F2;
}

.pagination-else {
    background-color: transparent;
}

.catalog-footer {
    color: #000;
    background-color: #FFF;
}

.title-footer-catalog {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-text {
    color: #333;
}

.subscribe-button {
    color: #FFF;
    background-color: #82B3D3;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    font-weight: 700;
}

.email {
    font-size: 18px;
    line-height: 24px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 4px;
    width: 85px;
    padding: 14px 345px 14px 20px;
}
